*{
    margin: 0;
    padding: 0;
    font-family: 'Frank Ruhl Libre', serif;
}

header{
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    margin-top: 3vh;
    font-family: 'Frank Ruhl Libre', serif;
    font-style: italic;
}
 .AAA{
    grid-row: 1;
    color: black;
    font-family: 'Teko', sans-serif;
    font-style: normal;
    font-size:5vw;
 }

.link{
    color: black;
    font-size:1.2vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.links{
    grid-row: 2;
}

.introduktion{
    text-align: center;
    grid-column: 2;
    font-size: 1.2vw;
}

.underrubrik{
    font-size:2vw;
}

main{
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
}


.brödtext{
    display: grid;
    grid-template-rows: 1fr;
    grid-column: 2;
    text-align: center;
    font-size: 1.5vw;
}

.kontakt{
    display:grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr,1fr;
    padding: 2vh;
    font-size: 1vw;
}

.indexContent{
    grid-column: 2;
    text-align: center;
    margin-bottom: 2vh;
}

.indexExempel{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr,1fr;
    padding: 2vh;
}

.exeRubrik{
    padding: 0.5vw;
}

.exempel{
    display: flex;
    margin-left: 1vw;
    font-size: 1vw;
    flex-direction: column;
}

footer{
    display: grid;
    grid-template-rows: 1fr;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 1.5vh;
    font-size: 1vw;
    font-family: 'Frank Ruhl Libre', serif;
    font-style: italic;
}